[Unit]
Description=remote controll

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/go/src/raspberry_chrome_controller/bin/commando

[Install]
WantedBy=multi-user.target